# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache
.coverage
htmlcov/

# Virtual Environment
venv/
.env

# Tests
tests/

# Editor
.vscode/
.idea/

# Project specific
README.md
Dockerfile
.dockerignore 